<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div>
	    <h1>4XX 錯誤頁面</h1>
	    <h2>狀態碼 : [[${status}]]</h2>
	    <h2>error 錯誤類型 : [[${error}]]</h2>
	    <h2>Exception錯誤物件 : [[${exception}]]</h2>
	    <h2>Message 錯誤訊息 : [[${message}]]</h2>
	    <h2>Path 錯誤網址 : [[${path}]]</h2>
	    <h2>Timestamp 時間戳記 : [[${timestamp}]]</h2>
    </div>
</body>
</html>