<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
		
		
<hibernate-configuration>
    <session-factory>
		<!--	配置連接資料庫的基本參數 	-->
    	<property name="connection.username">Hibernate</property>
    	<property name="connection.password">zzz30163</property>
    	<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
    	<property name="connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
    	
    	<!--	配置連接資料庫的基本參數 	-->
    	<!--	hibernate所使用的數據庫方言 	-->
    	<property name="dialect">org.hibernate.dialect.Oracle9Dialect</property>
    	
    	<!--	是否在console印出SQL 	-->
    	<property name="show_sql">true</property>
    	
    	<!--	是否對SQL進行格式化 	-->
    	<property name="format_sql">true</property>
    	
    	<!--	設置Hibernate的事務(交易)隔離級別(ex:髒讀、重複讀...) 這邊是為了測試refresh()	-->
    	<property name="connection.isloation">2</property>
    	
    	<!--	指定自動生成數據表的策略 	-->
		<!--hbm2ddl.auto 取值
				create -> 會重新生成資料表(table)，會把之前的紀錄都刪光，只會留下當前操作的數據。
				update -> 不會刪除往後的紀錄，直接在後面新增一筆。若有新增欄位(*.hbm.xml)也可以，會自動把過往資料的新欄位都塞null。(最常用)
				creat-drop-> 操作完直接連同資料表(table)一起刪除。
				validate -> 跟update差別就是validate會驗證欄位是否符合，不符合就會報錯。
		-->
    	<property name="hbm2ddl.auto">update</property>
    	
    	<!--	指定關聯的.hbm.xml文件 	-->
    	<mapping resource="com/jay/hibernate/helloworld/News.hbm.xml"/>
    	
    </session-factory>
</hibernate-configuration>
